<section class="blog blog-page white-bg page-section">
 <div class="container-fluid">

  <div class="row">

      <div class="isotope popup-portfolio full-screen">
        <%@portfolios.each do |port|%>
            <div class=" col-lg-4 col-md-4 col-sm-4">
              <div class="portfolio-item">
             <div class="item">
              <div class="item-hover">
                  <div class="item-inner">
                <img class="img-responsive" src="<%=port.image%>" alt=""></div>
                 <div class="item-info">
                 <a href="#">  <%=port.title%></a>
                  <span>by <%=port.user.username%></span>
                  <span>Category: <%=port.category.category_name%></span>
                  <div class="item-link">
                   <a class="portfolio-img" href="<%=port.image%>"><span class="ti-plus"></span></a>
                   <%= link_to port, :class => '' do %>
                      <span class="ti-link"></span>
                    <% end %>

                  </div>
                   </div>
                </div>
               </div>
                </div>
                <br>
            </div>
        <%end%>
       </div>
     </div>
 </div>
</section>
