<% title "Blogs | panhara.work"%>
<% meta_description "I have a lot of blogs for programming skills and blogs about new technology"%>
<%=render "shared/front-component/blog/header"%>
<%=render "shared/front-component/blog/intro"%>
<%=render "shared/front-component/blog/blog"%>
