<% title @blog.title%>
<% meta_description strip_tags(@blog.description)%>
<div class="page-header bg gradient-01">
    <div class="container-fluid">
    <div class="row">
      <div class="top-bar clearfix">
        <div class="back-home pull-left">
          <a href="/blogs"><span class="ti-angle-left"></span> back to blog</a>
        </div>
        <ul class="breadcrumb pull-right">
          <li><a href="/"><span class="ti-home"></span> Home</a></li>
          <li><a href="/blogs"> Blog</a></li>
          <li class="active">Blog single</li>
        </ul>
      </div>
      <div class="page-header-title">
         <h1><%=@blog.title%></h1>
          <div class="blog-meta">
            <p><span class="ti-user"></span> <a href=""><%=@blog.author%></a></p>
            <p><span class="ti-folder"></span>  <%=link_to @blog.category.category_name,@blog.category%></a></p>

          </div>
      </div>
     </div>
  </div>
</div>

<section class="blog blog-single white-bg page-section-pt">

  <div class="container-fluid">
   <div class="row">
     <div class="col-lg-9 col-md-9">

       <div class="owl-carousel-1">
         <div class="item"> <img src="<%=@blog.image%>" alt=""> </div>
         <div class="item"> <img src="<%=@blog.image%>" alt=""> </div>
         <div class="item"> <img src="<%=@blog.image%>" alt=""> </div>
         <!-- Add Image Feature -->
       </div>

     <div class="content">
       <blockquote>
         <p><%=raw @blog.description%>
        <br /><span>- <%=@blog.author%></span></p>
       </blockquote>

      </div>

      <div class="contact-form clearfix">
       <h3>Comment Here </h3>
          <%=render "shared/disqus"%>
      </div>

       </div>
     <div class="col-lg-3 col-md-3">

       <div class="slidebar">

          <div class="slidebar-link">
            <h3>Categories</h3>
            <ul>
              <%@category.each do |cate|%>
              <li><%=link_to cate.category_name,cate%></li>
              <%end%>
            </ul>
          </div>

          <div class="slidebar-post">
            <h3>Latest Posts</h3>
            <%@blogs.each do |blog|%>
            <div class="post">

              <%=link_to blog.title, blog%>
              <span><%=blog.post_date%> </span>
            </div>
            <%end%>
           </div>


       </div>
    </div>

  </div>
 </div>
</section>
