<%=render "shared/header-report"%>
<div class="c-toolbar u-justify-center u-mb-small">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="row">
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">50</h4>
                <span class="c-toolbar__state-title">Registrated</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">54%</h4>
                <span class="c-toolbar__state-title">Course Rate</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">13%</h4>
                <span class="c-toolbar__state-title">Favorite</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">5</h4>
                <span class="c-toolbar__state-title">New Registration</span>
            </div>
        </div><!-- // .row -->
    </div><!-- // -->
</div><!-- // .c-toolbar -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <div class="c-card u-p-medium u-text-small u-mb-small">
        <h6 class="u-text-bold">General Info</h6>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Full Name</dt>
          <dd><%=@personality.full_name%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Date Of Date</dt>
          <dd><%=@personality.dateofbirth%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Email</dt>
          <dd><%=@personality.email%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Address</dt>
          <dd><%=@personality.address%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Phone</dt>
          <dd><%=@personality.phone%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Description</dt>
          <dd><%=raw @personality.description%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-35">Image</dt>
          <dd><%=image_tag(@personality.image, :style=>"width:50%;")%></dd>
        </dl>

        <dl class="u-flex u-pv-small">
          <span style="margin-right: 10px;"><%=link_to "Edit", edit_admin_personality_path(@personality), :class=>"c-btn c-btn--success"%></span>
          <span><%=link_to "Cancel", admin_personalities_path,:class=>"c-btn c-btn--danger"%></span>
        </dl>
      </div>
    </div>

  </div>
</div>
