html {
    font-size: 1rem;
    line-height: 1.4;
}
*{
    outline: none;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
body {
    font-family: Open Sans, sans-serif;
    background: url(/backgrnd.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background{
  z-index: 1;
    opacity: 0;
}
.delay-1s
{
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}
.fadein {
  -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
}
@-webkit-keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.fadeout {
  -webkit-animation: fadeout 1s ease 0s forwards;
    animation: fadeout 1s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
}
@-webkit-keyframes fadeout
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes fadeout
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.btn{
  border: none;
  padding: 8px;
  font-size: 1em;
  width: 30%;
  background: #fff;
  color: #000;
}

.intro{
    position: absolute;
    top: 40%;
    margin-top: -45px;
}
.center{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}
.center h1{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
}
.center h2{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.center h3{
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 0;

    font-weight: 300;
}
.center-greeting, .center-focus{
    line-height: 1.5;
}
.intro .center-focus{
    visibility: hidden;
}

input.name{
    background: none;
    border-bottom: 3px solid #fff;
    border-right: 0;
    margin-top: 20px;
    border-left: 0;
    border-top: 0;
    font-size: 1rem;
    width: 30%;
}

input::placeholder{
  color: #fff;
}

input.pass{
  background: none;
  border-bottom: 3px solid #fff;
  border-right: 0;
  margin-top: 20px;
  border-left: 0;
  border-top: 0;
  font-size: 1rem;
  width: 30%;
}
.submit {
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
    padding: 12px 15px;
    line-height: 1;
    width: 94px;
}
.finished-header{
    text-align: left;
    color: #fff;
    cursor: pointer;
}
ul.finished-list li.empty{
    background: none;
    text-decoration: none;
}
ul.todo-list {
    list-style: none;
    margin: 20px auto;
    padding: 0;
}
ul.todo-list > form {
    font-size: 20px;
    padding: 1% 2%;
    cursor: pointer;
    text-align: left;
    background-color: rgba(250, 250, 250, 0.6);
    margin: 15px 0;
    color: #000;
}

ul.active-list > li:hover {
    color: #00baff;
}

ul.active-list  a{
  color: #e74c3c;
}

ul.finished-list form{
    color: #fff;
    background: #e74c3c;
    cursor: default;
}

#todo_status{
  float: right;
  margin: 9px;
}

a.remove{
  color: #fff;
  text-decoration: none;
  float: right;
  font-size: 14px;
  padding: 5px;
}

ul.finished-list span.title{
  margin-left: 10px;
  text-decoration: line-through;
}

.leftcol {
    background-color: rgba(31, 31, 31, 0.9);
    position: relative;
    padding-left: 15px;
}
.content {
    padding: 15px;
}
input#todolist {
    border: none;
    background-color: rgba(250, 250, 250, 0.6);
    width: calc(96% - 94px);
    float: left;
    height: 46px;
    padding: 0 0 0 2%;
    color: #000;
    margin-right: 2%;
}
.greeting {
    padding-top: 15px;
}
.greeting .name{
    color: #00baff;
}

.greeting .pass{
  color: #00baff;
}
.col-footer {
    padding-bottom: 15px;
}

.logout{
    display: inline-block;
    cursor: pointer;
}

.out{
  text-decoration: none;
  color: #fff;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}
/* ALL: IE Fixes */
.ie7 .title {
    padding-top: 20px;
}
/* Media Queries */
@media only screen and (min-width: 640px) {
    .leftcol{
        width: 250px;
        float: left;
        height: 100%;
        position: fixed;
    }
    .center h2{
        text-align: left;
    }
    .content {
        margin-left: 265px;
    }
    .col-footer {
        position: absolute;
        bottom: 0;
        text-align: left;
    }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1140px) {
}
/* Helper classes */
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
    overflow: hidden;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* Print styles */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
