<section id="about" class="about white-bg page-section">
 <div class="container-fluid">
   <div class="row">
   	 <div class="col-lg-4 col-md-4 col-sm-4">
   	   <div class="about-image">
         <%@personalities.each do |personal|%>
   	   	  <img class="img-responsive" src="<%=personal.image%>" alt="">
         <%end%>
   	   </div>
   	   <div class="about-social">
   	   	 <ul>
   	   	  <li><a href="https://www.facebook.com/profile.php?id=100008498198686"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/PanharaTuarus"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCH1uLdHzR6Y5On_f5P2CccA"><i class="fa fa-youtube"></i> </a></li>
          <li><a href="https://www.linkedin.com/in/chhouk-titpanhara-8b5a00124/"><i class="fa fa-linkedin"></i> </a></li>
   	   	 </ul>
   	   </div>
   	 </div>
   	 <div class="col-lg-8 col-md-8 col-sm-8">
   	 	<div class="section-title">
   	 	  <div class="section-title-name">
   	 	  	<span>Know about me</span>
   	 	  	<h2>About Me</h2>
   	 	  </div>
   	 	  <div class="title-name-gray">
   	 	  	<strong>About me</strong>
   	 	  </div>
   	 	</div>

      <%@personalities.each do |personal|%>
   	 	<div class="contact-block">
   	 	 <div class="row">
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-user"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Name:</h4>
   	 	 				<p><%=personal.full_name%></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-email"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Email:</h4>
   	 	 				<p><%=personal.email.truncate(13)%></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-mobile"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Phone:</h4>
   	 	 				<p><%=personal.phone%></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 </div>
   	 	 <div class="row">
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-calendar"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Date of birth: </h4>
   	 	 				<p><%=personal.dateofbirth%></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 				<span class="ti-direction-alt"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Address: </h4>
   	 	 				<p><%=personal.address%></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 	<div class="col-lg-4 col-md-4 col-sm-4">
   	 	 		<div class="my-contact clearfix">
   	 	 			<div class="contact-icon">
   	 	 			 <span class="ti-flag-alt-2"></span>
   	 	 			</div>
   	 	 			<div class="contact-info">
   	 	 				<h4>Nationality: </h4>
   	 	 				<p><%=personal.nationality%></p>
   	 	 			</div>
   	 	 		</div>
   	 	 	</div>
   	 	 </div>
   	 	 <div class="row">
   	 	 	<div class="col-lg-12 col-md-12">
   	 	 	  <div class="about-block clearfix">
   	 	 		<p><%=raw(personal.description)%></p>
   	 	 		<img class="pull-right" src="signature.png" alt="">
   	 	 	</div>
   	 	   </div>
   	 	 </div>
   	 	</div>
      <%end%>
   	 </div>
   </div>
 </div>
</section>
