<section id="blog" class="blog white-bg page-section">
 <div class="container">
   <div class="row">
  	<div class="col-lg-12 col-md-12">
  	 <div class="section-title">
     	 	 <div class="section-title-name">
     	 	  	<span>My Latest Blog Posts</span>
     	  	  	<h2><%=link_to("From the blog","/blogs",:style=>"color:black;")%> </h2>
     	    </div>
     	    <div class="title-name-gray">
     	   	<strong>Blog</strong>
     	   </div>
     	 </div>
  	</div>
   </div>
 <div class="row">
   <div class="col-lg-10 col-md-9 col-sm-10">
     <%@blogs.each do |blog|%>
     <%if status_converter(blog.status, correct: "Approved", incorrect: "Unapproved")%>
      <div class="col-lg-11 col-md-10 col-sm-11">
       <div class="card radius shadowDepth1">
         <div class="card__image border-tlr-radius">
           <img src="<%=blog.image%>" alt="" class="border-tlr-radius">
         </div>
         <div class="card__content card__padding">
           <div class="card__share">
             <div class="card__social">
               <a href="#" class="share-icon facebook"> <span class="fa fa-facebook"></span> </a>
               <a href="#" class="share-icon twitter"> <span class="fa fa-twitter"></span> </a>
               <a href="#" class="share-icon googleplus"> <span class="fa fa-instagram"></span> </a>
             </div>
             <a href="#" id="share" class="share-toggle share-icon"></a>
           </div>

           <div class="card_meta">
             <span class="category"><%=link_to blog.category.category_name,blog.category%></span>
             <time><%=blog.post_date%></time>
           </div>

           <article class="card__article">
             <h2><%=link_to blog.title, blog%></h2>
             <p><%=raw blog.description.truncate(300)%></p>
           </article>
         </div>

         <div class="card__action">
           <div class="card__author">
             <img src="<%=blog.user.image%>" alt="image">
             <div class="card__author-content">
               By <%= blog.author%>
             </div>
           </div>
         </div>
       </div>
     </div>
     <%end%>
     <%end%>
   </div>
   <div class="col-lg-2 col-md-3 col-md-pull-1 col-sm-2 col-sm-pull-1">
     <div class="slidebar">
       <div class="slidebar-link">
         <h3 style="margin-top: 0px;">Categories</h3>
         <ul>
           <%@categoryblogs.each do |cate|%>
           <li><%=link_to cate.category_name,cate%></li>
           <%end%>
         </ul>
       </div>

       <div class="slidebar-post">
         <h3>Latest Posts</h3>
         <%@blogs.limit(5).each do |blog|%>
         <div class="post">

           <%=link_to blog.title, blog%>
           <span><%=blog.post_date%> </span>
         </div>
         <%end%>
       </div>

     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
     <div class="button-small">
       <%=link_to 'Load More', blogs_path%>
     </div>
   </div>
 </div>
 </div>
</section>
