<!--
<section id="availability-calendar" class="calendar white-bg page-section">
 <div class="container-fluid">
   <div class="row">
	<div class="col-lg-12 col-md-12">
	 <div class="section-title">
   	 	 <div class="section-title-name">
   	 	  	<span>My Availability Calendar</span>
   	  	  	<h2>Availability Calendar</h2>
   	    </div>
   	    <div class="title-name-gray">
   	   	<strong>Availability </strong>
   	   </div>
   	 </div>
	</div>
   </div>
 <div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="main-calendar clearfix">
         <div class="row">
         <div class="col-lg-7 col-md-7">
           <div class="calendar-section">
        	<div class="calendar-block"> <div id="datepicker"> </div>
			</div>
			</div>
			</div>
			 <div class="col-lg-5 col-md-5">
            <div class="date-block">
            	<div class="date-area">
                	<span class="day" id="day">Sonday</span><span class="date" id="date">27</span><span class="month" id="mnt">March</span><div class="clr"></div>
            	</div>
                <div class="dateinfo">
                	<div class="block"><span class="today"></span>Today</div>
                    <div class="block"><span class="not-ava"></span> Sorry. I am not available on those days </div>
                    <div class="block"><span class="available"></span>All other days i am available </div>
                </div>
              </div>
			       </div>
            <div class="clr"></div>
            </div>
        </div>
       </div>
    </div>
  </div>
</section> -->
