
<section id="contact" class="google-map white-bg page-section-pt">
 <div class="container-fluid">
  <div id="google-map">
	 <div id="map-canvas">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3908.8922184887856!2d104.8959839!3d11.5595838!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109510913cbb5bb%3A0x9ad90b7f3fed3764!2sSt+204%2C+Phnom+Penh!5e0!3m2!1sen!2skh!4v1493155337612" width= "100%" height="900px" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
 </div>
 <div class="contact">
   <%@settings.each do |setting|%>
   	<h2><%=setting.footer_title%> </h2>
   	<div class="address">
   	  <ul>
   	  	<li><span class="ti-location-pin"></span> <p><%=setting.location%></p> </li>
   	  	<li><span class="ti-marker-alt"></span> <p><%=setting.email%> </p></li>
   	  	<li><span class="ti-mobile"></span> <p><%=link_to(setting.url,"http://panhara.work/",:style=>"color:white;")%> </p></li>
        <%end%>
   	  </ul>
   	</div>

   	<div class="social">
   	 <h4>Follow Me On My Social Network</h4>
  	 <ul>
   	  	 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
           <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
           <li><a href="#"><i class="fa fa-vimeo"></i> </a></li>
           <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
           <li><a href="#"><i class="fa fa-behance"></i> </a></li>
           <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
   	  </ul>
   	</div>

  <div class="button-large"><a href="#">Download my CV</a></div>
 </div>


 <!-- <div class="contact-form">
   <div id="contact-wrapper">
    <div class="contact-content">
     <div id="formmessage">Success/Error Message Goes Here</div>
       <form class="form-horizontal" id="contactform" method="post" action="http://themes.potenzaglobalsolutions.com/html/sam-martin/it/layout-2/php/contact-form.php">
          <div class="contact-form">
            <h4>Drop me a line</h4>
            <p>Use this form to tell me about your project goals and needs. I will be in touch within 24 hours.</p>
               <input id="name" type="text" placeholder="Name*"  name="name">
               <input type="email" placeholder="Email*" name="email">
               <input type="text" placeholder="Phone*" name="phone">
               <textarea class="input-message" placeholder="Comment*" rows="7" name="message"></textarea>
             <input type="hidden" name="action" value="sendEmail"/>
            <button id="submit" name="submit" type="submit" value="Send" class="button-small"> Say Hello! </button>
          </div>
        </form>
        <div id="ajaxloader" style="display:none"><img class="center-block" src="images/ajax-loader-white.gif" alt=""></div>
   </div>
   <a href="#" class="contact-toggle"><span class="ti-comments"></span></a>
  </div>
 </div> -->
 </div>
</section>
