<div class="intro-bg gradient-01" style="background: url('/bg.png');">
   <div id="scroll-down" class="intro">
    <div class="intro-content">
      <div class="container-fluid">
      <div class="row">
       <div class="col-md-12 text-center">
         <!-- Intro Name -->
         <%@personalities.each do |personal|%>
          <h1> <span> Hello i’m </span> <%=personal.full_name%></h1>
         <%end%>
         <div id="typer"></div>
          <div class="button-large">
          	<a href="#">Download my CV</a>
          </div>
        </div>
       </div>
     </div>
     </div>
    <a class="scroll-down page-scroll" title="Scroll Down" href="#about"><i></i></a>
  </div>
</div>
