
<section id="portfolio" class="portfolio white-bg page-section">
 <div class="container-fluid">
   <div class="row">
  <div class="col-lg-12 col-md-12">
   <div class="section-title">
       <div class="section-title-name">
          <span>My Featured Work</span>
            <h2><%=link_to("My Portfolio","/portfolios",:style=>"color:black;")%></h2>
        </div>
        <div class="title-name-gray">
        <strong>My Portfolio</strong>
       </div>
     </div>
  </div>
   </div>

 <div class="row">
  <div class="col-lg-12 col-md-12">
   <div class="isotope-filters text-left">
    <button data-filter="" class="active"> View All <span>/</span></button>
      <%@categoryportfloes.each do |category|%>
        <button data-filter=".<%=category.category_name%>"> <%=category.category_name.gsub(/(?<=[A-Za-z])(?=[A-Z])/, ' ')%> <span>/</span></button>
      <%end%>
          <!-- <button data-filter=".web-design"> Web Design <span>/</span></button>
          <button data-filter=".graphic-design">Graphic Design <span>/</span></button>
          <button data-filter=".website-templates">Website Templates </button> -->
    </div>
  </div>
 </div>

  <div class="isotope popup-portfolio full-screen">
    <%@portfolios.each do |port|%>
      <div class="grid-item <%=port.category.category_name%>">
        <div class="portfolio-item">
       <div class="item">

      <div class="item-hover">
        <div class="item-inner">
          <img class="img-responsive" src="<%=port.image%>" alt=""></div>
           <div class="item-info">
             <a href="#"><%=port.title%></a>
              <span>by <%=port.user.username%></span>
              <div class="item-link">
               <a class="portfolio-img" href="<%=port.image%>"><span class="ti-plus"></span></a>
               <%= link_to port, :class => '' do %>
                  <span class="ti-link"></span>
                <% end %>
              </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
   </div>
  </div>
</section>
