
<section id="resume" class="resume white-bg page-section">
 <div class="container-fluid">
   <div class="row">
  <div class="col-lg-12 col-md-12">
   <div class="section-title">
       <div class="section-title-name">
          <span>My Work Experience</span>
            <h2>Resume</h2>
        </div>
        <div class="title-name-gray">
        <strong>Resume</strong>
       </div>
     </div>
  </div>
   </div>
   <div class="row">
  <div class="col-lg-12 col-md-12">
    <h2>Experience : </h2>
    </div>
   </div>


  <%@resumes.each do |resume|%>
   <div class="resume-block">
   <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="resume-icon">
        <span class="ti-bookmark-alt"></span>
        </div>
        <div class="resume-name">
          <h3><%=resume.title%></h3>
          <span><%=resume.achive_date%></span>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="resume-info">
          <h3><%=resume.title%></h3>
          <p><%=raw(resume.description)%></p>
        </div>
      </div>
    </div>
   </div>
  <%end%>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <h2>Education : </h2>
    </div>
   </div>
<%@educations.each do |edu|%>
 <div class="resume-block">
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="resume-icon">
      <span class="ti-crown"></span>
      </div>
      <div class="resume-name">
        <h3><%=edu.school_name%></h3>
        <span><%=edu.start_date%> to <%=edu.finished_date%></span>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="resume-info">
        <h3><%=edu.title%></h3>
        <p><%=raw(edu.description)%></p>
      </div>
    </div>
    </div>
   </div>
  <%end%>
 </div>
</section>
