<section id="skill" class="my-skill white-bg page-section">
 <div class="container-fluid">
   <div class="row">
	<div class="col-lg-12 col-md-12">
	 <div class="section-title">
   	 	 <div class="section-title-name">
   	 	  	<span>I am good at</span>
   	  	  	<h2>My Skill</h2>
   	    </div>
   	    <div class="title-name-gray">
   	   	<strong>My Skill</strong>
   	   </div>
   	 </div>
	</div>
   </div>

   <div class="row">

  	<div class="col-lg-6 col-md-6 col-sm-6">
   	 <div class="skill-content">
   		<h2>My Professional Skill</h2>
   		<span>“The strength of a man's virtue should not be measured by his special exertions, but by his habitual acts”</span>
   		<p>The other virtues practice in succession by Franklin were silence, order, resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and humility. For the summary order he followed a little scheme of employing his time each day. From five to seven each morning he spent in bodily personal attention, saying a short prayer, thinking over the day’s business and resolutions, studying and eating breakfast. From eight till twelve he worked at his trade. From twelve to one he read or overlooked his accounts and dined. From two to five he worked at his trade. The rest of the evening until 10 he spent in music, or diversion of some sort.</p>
   	 </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
   	 <div class="skill">
       <ul>
         <%@skills.each do |skill|%>
           <li><%=skill.skill_name%>
             <div class="bar_container">
                <span class="bar" data-bar='{ "color": "#07cb79" }'>
                  <span class="pct"><%=skill.percentage%>%</span>
                </span>
             </div>
            </li>
          <%end%>
       </ul>

      <div class="skill-chart">
        <div class="skill-chart-expand clearfix">
           <div class="expand expand-left">
               <p>Newbie</p>
            </div>
            <div class="expand expand-left">
              <p>Decent</p>
             </div>
             <div class="expand expand-right">
               <p>Pretty Good</p>
             </div>
             <div class="expand expand-right">
               <p>Master</p>
             </div>
           </div>
         </div>
      </div>
 	   </div>
   </div>

 <div class="language-skills">
   <div class="row">
   	 <div class="col-lg-12 col-md-12">

      </div>
   </div>

    <div class="row">

     </div>

   <div class="knowledge">
   <div class="row">
   	 <div class="col-lg-12 col-md-12">

     </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <ul>
          <li><span class="ti-hand-point-right"></span> Web design and development</li>
          <li><span class="ti-hand-point-right"></span> Multimedia design</li>
          <li><span class="ti-hand-point-right"></span> Digital media development</li>
          <li><span class="ti-hand-point-right"></span> Interactive computing</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <ul>
          <li><span class="ti-hand-point-right"></span> Strong creative skills</li>
          <li><span class="ti-hand-point-right"></span> The ability to pay attention to detail</li>
          <li><span class="ti-hand-point-right"></span> Ability to work to deadlines</li>
          <li><span class="ti-hand-point-right"></span> Comfortable with a CMS</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
      <ul>
        <li><span class="ti-hand-point-right"></span> Cultivate a design sense</li>
        <li><span class="ti-hand-point-right"></span> Right balance of tools </li>
        <li><span class="ti-hand-point-right"></span> Approach every new skill</li>
        <li><span class="ti-hand-point-right"></span> Good business management</li>
      </ul>
    </div>
  </div>
 </div>
 </div>
 </div>
</section>
