<div class="stats-area stats-style-three text-center bg-2 bg-opacity-black-40 clearfix" data-stellar-background-ratio="0.5">
  <div class="single-stats-item ">
    <div class="stats-item-heading">
      <i class="fa fa-user" aria-hidden="true"></i>
      <h4>Viewers</h4>
    </div>
    <span class="counter"><%=@visitors%></span>
  </div>
  <div class="single-stats-item">
    <div class="stats-item-heading">
      <i class="fa fa-address-book " aria-hidden="true"></i>
      <h4>Blog Viewers</h4>
    </div>
    <span class="counter"><%=@ahoy_events%></span>
  </div>
  <div class="single-stats-item">
    <div class="stats-item-heading ">
      <i class="fa fa-home" aria-hidden="true"></i>
      <h4>Local Vistors</h4>
    </div>
    <span class="counter"><%=@cambodia%></span>
  </div>
  <div class="single-stats-item">
    <div class="stats-item-heading">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <h4>Another Countries</h4>
    </div>
    <span class="counter"><%=@anothercountries%></span>
  </div>
</div>
