
<%=render "shared/left-side-bar"%>
<main class="o-page__content">
  <%=render "shared/header"%>
    <div class="container-fluid">
        <div class="row" style="margin-top: 20px;">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="c-graph-card">
                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">People Checked My Website</h3>
                        <p class="c-graph-card__date">Activity from 4 Jan 2017 to 10 Jan 2017</p>
                        <h4 class="c-graph-card__number"><%=pluralize(@visitors.count, 'person')%></h4>
                        <p class="c-graph-card__status">You’ve made <%=pluralize(@visitors.count,'person')%> Today</p>
                    </div>

                    <div class="c-graph-card__chart">
                        <canvas id="js-chart-payout" width="300" height="74"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="c-graph-card">
                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">Total Blogs Click</h3>
                        <p class="c-graph-card__date">In 15 Months</p>
                        <h4 class="c-graph-card__number"><%=pluralize(@ahoy_events, "click")%></h4>
                        <p class="c-graph-card__status">Rating</p>
                    </div>

                    <div class="c-graph-card__chart">
                        <canvas id="js-chart-earnings" width="300" height="74"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="c-progress-card">
                    <h3 class="c-progress-card__title">All Tasks Overview</h3>
                    <p class="c-progress-card__date">Next 4 Weeks</p>

                    <div class="c-progress-card__item">
                        <div class="c-progress-card__label">Week 3</div>

                        <div class="c-progress-card__progress c-progress c-progress--small">
                            <div class="c-progress__bar u-bg-success" style="width:100%;">
                                <div class="c-progress__bar u-bg-fancy" style="width: 70%">
                                    <div class="c-progress__bar u-bg-info" style="width: 50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- // .c-progress-card__item -->

                    <div class="c-progress-card__item">
                        <div class="c-progress-card__label">Week 4</div>

                        <div class="c-progress-card__progress c-progress c-progress--small">
                            <div class="c-progress__bar u-bg-success" style="width:100%;">
                                <div class="c-progress__bar u-bg-fancy" style="width: 70%">
                                    <div class="c-progress__bar u-bg-info" style="width: 50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- // .c-progress-card__item -->

                    <div class="c-progress-card__item">
                        <div class="c-progress-card__label">Week 5</div>

                        <div class="c-progress-card__progress c-progress c-progress--small">
                            <div class="c-progress__bar u-bg-success" style="width:100%;">
                                <div class="c-progress__bar u-bg-fancy" style="width: 70%">
                                    <div class="c-progress__bar u-bg-info" style="width: 50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- // .c-progress-card__item -->

                    <div class="c-progress-card__item">
                        <div class="c-progress-card__label">Week 6</div>

                        <div class="c-progress-card__progress c-progress c-progress--small">
                            <div class="c-progress__bar u-bg-success" style="width:100%;">
                                <div class="c-progress__bar u-bg-fancy" style="width: 70%">
                                    <div class="c-progress__bar u-bg-info" style="width: 50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- // .c-progress-card__item -->

                    <ul class="c-progress-card__legends">
                        <li class="u-text-mute u-text-xsmall">
                            <i class="c-progress-card__legend u-bg-fancy"></i>Progress
                        </li>
                        <li class="u-text-mute u-text-xsmall">
                            <i class="c-progress-card__legend u-bg-info"></i>Due
                        </li>
                        <li class="u-text-mute u-text-xsmall">
                            <i class="c-progress-card__legend u-bg-success"></i>OA
                        </li>
                        <li class="u-text-mute u-text-xsmall">
                            <i class="c-progress-card__legend u-bg-danger"></i>Delegated
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <span class="c-divider has-text u-mb-medium" style="margin-bottom: 20px !important;">Active Projects</span>

    </div><!-- // .container -->

</main><!-- // .o-page__content -->
