<%=render "shared/left-side-bar"%>
<main class="o-page__content">
  <%=render "shared/header"%>
    <div class="c-toolbar u-justify-center u-mb-small">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row">
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">50%</h4>
                    <span class="c-toolbar__state-title">Nothing</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">54%</h4>
                    <span class="c-toolbar__state-title">Availble Courses</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">13%</h4>
                    <span class="c-toolbar__state-title">Favorite</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">5%</h4>
                    <span class="c-toolbar__state-title">New Registration</span>
                </div>
            </div><!-- // .row -->
        </div><!-- // -->
    </div><!-- // .c-toolbar -->
    <div class="container-fluid">
      <div class="row u-mb-large">
          <div class="col-12">
              <table class="c-table" id="datatable">
                  <caption class="c-table__title">
                    <%if current_admin_user.admin?%>
                      <%=link_to "New Staff", new_admin_user_path, :class=>"c-btn c-btn--info"%>
                    <%end%>

                    <%= render "admin/application/search", route: admin_users_path%>
                  </caption>

                  <thead class="c-table__head c-table__head--slim">
                      <tr class="c-table__row">
                          <th class="c-table__cell c-table__cell--head no-sort">Username</th>
                          <th class="c-table__cell c-table__cell--head no-sort">Role</th>
                          <th class="c-table__cell c-table__cell--head no-sort">Phone</th>
                          <th class="c-table__cell c-table__cell--head no-sort">Created_At</th>
                          <th class="c-table__cell c-table__cell--head no-sort">Actions</th>
                      </tr>
                  </thead>

                  <tbody>
                    <%@users.each do |user|%>
                      <tr class="c-table__row" >
                          <td class="c-table__cell"><%=user.username%></td>
                          <td class="c-table__cell"><%=user.role%></td>
                          <td class="c-table__cell"><%=user.email%></td>
                          <td class="c-table__cell"><%=time_ago(user.created_at)%></td>
                          <td class="c-table__cell">
                            <!-- <a href="invoice.html" class="c-btn c-btn--info u-mr-xsmall">Manage</a> -->
                              <div class="c-dropdown dropdown">
                                  <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                  <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton10">
                                      <%=link_to "View", admin_user_path(user), :class=>"c-dropdown__item dropdown-item"%>
                                      <%=link_to "Edit", edit_admin_user_path(user), :class=>"c-dropdown__item dropdown-item"%>
                                      <%=link_to "Delete", admin_user_path(user), method: :delete, data: {:confirm => "Are you sure ?"}, :class=>"c-dropdown__item dropdown-item"%>
                                  </div>
                              </div>
                          </td>
                      </tr>
                    <%end%>
                  </tbody>
              </table>
          </div>
      </div>
    </div><!-- // .container -->

</main><!-- // .o-page__content -->
<div class="blog-block">
 <div class="blog-image">
   <img class="img-responsive" src="<%=blog.image%>" alt="">
   <div class="blog-date">
    <span><%=blog.post_date%></span>
   </div>
 </div>
 <div class="blog-info">
   <div class="blog-meta">
     <p><span class="ti-user"></span> <a href="#"><%=blog.author%> </a></p>
     <p><span class="ti-folder"></span> <%=link_to blog.category.category_name,blog.category%></p>
   </div>

   <div class="blog-content">
     <%=link_to blog.title,blog%>
     <p><%=raw blog.description.truncate(150)%></p>
     <div class="blog-bottom clearfix">
       <div class="button-small">
         <%=link_to("Read More",blog)%>
       </div>
       <div class="social pull-right">
         <ul>
           <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
           <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>
 <div class="card radius shadowDepth1">
   <div class="card__image border-tlr-radius">
     <img src="<%=blog.image%>" alt="" class="border-tlr-radius">
   </div>
   <div class="card__content card__padding">
     <div class="card__share">
       <div class="card__social">
         <a href="#" class="shared-icon facebook"> <span class="fa fa-facebook"></span> </a>
         <a href="#" class="shared-icon twitter"> <span class="fa fa-twitter"></span> </a>
         <a href="#" class="shared-icon googleplus"> <span class="fa fa-googleplus"></span> </a>
       </div>
       <a href="#" id="share" class="share-toggle share-icon"></a>
     </div>

     <div class="card_meta">
        <%=link_to blog.category.category_name,blog.category%>
       <time><%=blog.post_date%></time>
     </div>

     <article class="card__article">
       <h2><%=link_to blog.title, blog%></h2>
       <p><%=raw blog.description.truncate(20)%></p>
     </article>
   </div>

   <div class="card__action">
     <div class="card_author">
       <img src="" alt="image">
       <div class="card__author-content">
         By <%= blog.author%>
       </div>
     </div>
   </div>

 </div>
