<header class="c-navbar">
    <a class="c-navbar__brand" href="#!">
        <img src="img/logo.png" alt="logo">
    </a>

   <!-- Navigation items that will be collapes and toggle in small viewports -->
    <nav class="c-nav collapse" id="main-nav">
        <ul class="c-nav__list">
            <li class="c-nav__item">
              <%=link_to "Dashboard", admin_dashboard_path, :class=> "c-nav__link is-active"%>
            </li>
            <li class="c-nav__item">
                <%=link_to "Administrator", admin_users_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Personality", admin_personalities_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Service", admin_services_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Experience", admin_experiences_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Education", admin_educations_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Skill", admin_skills_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Portfolio", admin_achivements_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Blog", admin_blogs_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Category", admin_categories_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
              <%=link_to "Activity", admin_visits_path, :class=>"c-nav__link" %>
            </li>

            <li class="c-nav__item">
                <div class="c-field c-field--inline has-icon-right u-hidden-up@tablet">
                    <span class="c-field__icon">
                        <i class="fa fa-search"></i>
                    </span>

                    <label class="u-hidden-visually" for="navbar-search-small">Seach</label>
                    <input class="c-input" id="navbar-search-small" type="text" placeholder="Search">
                </div>
            </li>
        </ul>
    </nav>
    <!-- // Navigation items  -->

    <div class="c-dropdown u-ml-auto dropdown">
        <a  class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="c-avatar__img" src="<%=current_admin_user.image%>" alt="">
        </a>

        <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
            <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
            <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
            <%=link_to "Manage User", admin_users_path, :class=>"c-dropdown__item dropdown-item" %>
            <%=link_to "Setting", new_admin_setting_path, :class=>"c-dropdown__item dropdown-item" %>
            <%=link_to "Logout", destroy_admin_user_session_path, method: :delete, :class=>"c-dropdown__item dropdown-item"%>
        </div>
    </div>

    <button class="c-nav-toggle" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="c-nav-toggle__bar"></span>
        <span class="c-nav-toggle__bar"></span>
        <span class="c-nav-toggle__bar"></span>
    </button><!-- // .c-nav-toggle -->
</header>
