<div class="o-page__sidebar js-page-sidebar">
    <div class="c-sidebar">
        <a class="c-sidebar__brand u-ml-medium" href="/">
            <img class="c-sidebar__brand-img" src="/logo.png" alt="Logo" > <%= Setting.site_name%>
        </a>

        <h4 class="c-sidebar__title">Dashboards</h4>
        <ul class="c-sidebar__list">
          <li class="c-sidebar__item">
            <%=link_to admin_dashboard_path, :class=> "c-sidebar__link is-active" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Overview
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_users_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Administrator
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_personalities_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Personality
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_services_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Service
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_experiences_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Experience
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_skills_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Skill
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_achivements_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Portfolio
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_blogs_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Blog
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_categories_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Category
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to new_admin_setting_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Setting
            <%end%>
          </li>

          <li class="c-sidebar__item">
            <%=link_to admin_visits_path, :class=> "c-sidebar__link" do%>
              <i class="fa fa-home u-mr-xsmall"></i>Activity
            <%end%>
          </li>

        </ul>

    </div><!-- // .c-sidebar -->
</div><!-- // .o-page__sidebar -->
