<section class="blog blog-page white-bg page-section">
 <div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <%@blogs.each do |blog|%>
        <div class="col-lg-11 col-md-11 col-sm-11">
          <div class="card radius shadowDepth1">
            <div class="card__image border-tlr-radius">
              <img src="<%=blog.image%>" alt="" class="border-tlr-radius">
            </div>
            <div class="card__content card__padding">
              <div class="card__share">
                <div class="card__social">
                  <a href="#" class="share-icon facebook"> <span class="fa fa-facebook"></span> </a>
                  <a href="#" class="share-icon twitter"> <span class="fa fa-twitter"></span> </a>
                  <a href="#" class="share-icon googleplus"> <span class="fa fa-instagram"></span> </a>
                </div>
                <a href="#" id="share" class="share-toggle share-icon"></a>
              </div>

              <div class="card_meta">
                <span class="category"><%=link_to blog.category.category_name,blog.category%></span>
                <time><%=blog.post_date%></time>
              </div>

              <article class="card__article">
                <h2><%=link_to blog.title, blog, id: "blog_title_#{blog.id}", data: {id: blog.id, name: blog.title}%></h2>
                <p><%=raw blog.description.truncate(500)%></p>
              </article>
            </div>

            <div class="card__action">
              <div class="card__author">
                <%if blog.user.role.try(:admin)%>
                  <img src="<%=blog.user.image%>" alt="image">
                <%else%>
                  <img src="<%=blog.user.image%>" alt="image">
                <%end%>
                <div class="card__author-content">
                  By <%= blog.author%>
                </div>
              </div>
            </div>
          </div>
         </div>
      <%end%>
    </div>
    <div class="col-lg-2 col-md-2 col-md-pull-1 col-sm-2 col-sm-pull-1">
      <div class="slidebar">
          <div class="slidebar-link">
            <h3 style="margin-top: 0px;">Categories</h3>
            <ul>
              <%@categoryblogs.each do |cate|%>
              <li><%=link_to cate.category_name,cate%></li>
              <%end%>
            </ul>
          </div>

          <div class="slidebar-post">
            <h3>Latest Posts</h3>
            <%@blogs.limit(5).each do |blog|%>
            <div class="post">

              <%=link_to blog.title, blog%>
              <span><%=blog.post_date%> </span>
            </div>
            <%end%>
           </div>

       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <p style="">
        <%= paginate @blogs %>
      </p>
    </div>
  </div>
 </div>
</section>
