<%=form_for([:demo, :v1, todo], remote: true) do |f|%>
  <span class="title" id="title">
    <%=todo.title%>
  </span>
  <%=link_to "Remove", demo_v1_todo_path(todo), method: :delete, data: {confirm: "Are Your Sure ?"}, remote: true, class: "remove"%>
  <%=f.check_box :status%>
  <%=f.submit "Update"%>

<%end%>
