<div class="main-container">

	<div class="main center  fadein">
		<div class="leftcol">
			<div class="greeting"></div>
			<div class="col-footer">
				<div class="logout">
					<%=link_to "Log out", demo_v1_logout_path, class: "out"%>
				</div>
				<div class="clock"></div>
			</div>
		</div>
		<div class="content">
			<div class="center-focus">
				<div id="todo-errors"></div>
				<div id="todo-success"></div>
				<h3>Create your TODO list</h3>
				<%=form_for([:demo, :v1, @todo], remote: true) do |f|%>
					<%=f.text_field :title, id: "todolist", autofocus: "autofocus"%>
					<%=f.submit "Add", class: "submit"%>
				<%end%>

				<ul class="active-list todo-list todos" id="incomplete_todos">
					<div class="finished-header">Todoes</div>
					<%=render @incomplete_todos%>
				</ul>
				<div class="finished-header">Finished Todo</div>
				<ul class="finished-list todo-list todos" id="complete_todos">
					<%=render @complete_todos%>
				</ul>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	window.addEventListener('load', function handle() {


		var namePlace = document.querySelector('.leftcol > .greeting');
		var date;
		var hours;
		var minutes;
		var seconds;

		function greeting(username) {
			var sayHi;
			if (hours >= 4 && hours < 12) {
				sayHi = 'Good morning, <div class="name">' + username + '</div>';
			} else if (hours >= 12 && hours < 17) {
				sayHi = 'Good afternoon, <div class="name">' + username + '</div>';
			} else if (hours >= 17 && hours < 23) {
				sayHi = 'Good evening, <div class="name">' + username + '</div>';
			} else {
				sayHi = 'Good night, <div class="name">' + username + '</div>';
			}
			namePlace.innerHTML = '<h2>' + sayHi + '</h2>';
		}




		function watch() {
			var clock = document.querySelector('.clock');
			date = new Date();
			hours = date.getHours();
			minutes = date.getMinutes();
			seconds = date.getSeconds();
			if (hours < 10) {
				hours = '0' + hours;
			}
			if (minutes < 10) {
				minutes = '0' + minutes;
			}
			if (seconds < 10) {
				seconds = '0' + seconds;
			}
			clock.innerHTML = '<h2>' + hours + ':' + minutes + ':' + seconds + '</h2>';
			setTimeout(watch, 1000);
		}

		watch();
		greeting("<%=current_user.username.capitalize%>");
	});
</script>
