<% if @todo.status? %>
  $('#edit_todo_<%= @todo.id %>').appendTo('#complete_todos');
<% else %>
  $('#edit_todo_<%= @todo.id %>').appendTo('#incomplete_todos');
<% end %>
$("#todo-success").html("<%= custom_flash_message%>");
