<%=render "shared/header-report"%>
<div class="c-toolbar u-mb-medium">
  <div class="col-xl-3 col-sm-3 col-md-3 c-toolbar__state">
    <h4 class="c-toolbar__state-number">50</h4>
    <span class="c-toolbar__state-title">c</span>
  </div>
  <div class="col-xl-3 col-sm-3 col-md-3 c-toolbar__state">
    <h4 class="c-toolbar__state-number">54%</h4>
    <span class="c-toolbar__state-title">Availble Courses</span>
  </div>
  <div class="col-xl-3 col-sm-3 col-md-3 c-toolbar__state">
    <h4 class="c-toolbar__state-number">13%</h4>
    <span class="c-toolbar__state-title">Favorite</span>
  </div>
  <div class="col-xl-3 col-sm-3 col-md-3 c-toolbar__state">
    <h4 class="c-toolbar__state-number">5%</h4>
    <span class="c-toolbar__state-title">New Registration</span>
  </div>

</div>
<br>
<div class="container-fluid">
  <div class="row u-mb-large">
    <div class="col-lg-3 col-xl-3 order-lg-2">
      <div class="c-search-form c-search-form--dark">
          <%= search_form_for([:admin, @search]) do |f|%>
            <h3 class="c-search-form__label" style="text-align:center;margin-bottom:20px;font-size:16px;">Search</h3>
            <%= link_to 'Clear Search', request.path, class: "c-btn c-btn--warning c-btn--fullwidth"%>
              <div class="c-search-form__section">
                <div class="c-field has-icon-left">
                  <small class="c-field__message">Enter Full Name</small>
                    <%=f.text_field :full_name_cont, class: "c-input", :placeholder => "Search.."%>
                </div>
              </div>
              <div class="c-search-form__section">
                <div class="c-field has-icon-left">
                  <small class="c-field__message">Enter Full Name</small>
                    <%=f.text_field :email_cont, class: "c-input", :placeholder => "Search.."%>
                </div>
              </div>
              <%= f.submit 'Search', class: "c-btn c-btn--info c-btn--fullwidth"%>
              <br><br>
          <%end%>
        </div>
      </div>
      <div class="col-lg-9 col-xl-9 order-lg-1">
          <table class="c-table" id="datatable">
            <caption class="c-table__title">
              <div class="panhara-toolbar">
                <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Category Table</span></h4>
                <span class="c-toolbar__meta u-mr-auto">21 People match your criteria</span>
                <%=link_to "Back", admin_contacts_path, :class=>"c-btn c-btn--blue u-hidden-down@mobile"%>
              </div>
            </caption>
              <thead class="c-table__head c-table__head--slim">
                  <tr class="c-table__row">
                      <th class="c-table__cell c-table__cell--head no-sort">Full Name</th>
                      <th class="c-table__cell c-table__cell--head no-sort">Email</th>
                      <th class="c-table__cell c-table__cell--head no-sort">Created_At</th>
                      <th class="c-table__cell c-table__cell--head no-sort">Actions</th>
                  </tr>
              </thead>

              <tbody>
                <%@contacts.each do |contact|%>
                  <tr class="c-table__row">
                      <td class="c-table__cell"><%= contact.full_name.truncate(10)%></td>
                      <td class="c-table__cell"><%= contact.email%></td>
                      <td class="c-table__cell"><%= time_ago(contact.created_at)%></td>
                      <td class="c-table__cell">

                          <div class="c-dropdown dropdown">
                              <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                              <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton10">
                                <%=link_to "View", admin_contact_path(contact), :class=>"c-dropdown__item dropdown-item"%>
                              </div>
                          </div>
                      </td>
                  </tr>
                <%end%>
              </tbody>
          </table>
      </div>
  </div>
</div><!-- // .container -->
