<% title @portfolio.title%>
<% meta_description strip_tags(@portfolio.description)%>
<div class="page-header bg gradient-01">
    <div class="container-fluid">
    <div class="row">
      <div class="top-bar clearfix">
        <div class="back-home pull-left">
          <a href="/achivements"><span class="ti-angle-left"></span> back to portfolio</a>
        </div>
        <ul class="breadcrumb pull-right">
          <li><a href="/"><span class="ti-home"></span> Home</a></li>
          <li class="active">Portfolio</li>
        </ul>
      </div>
      <div class="page-header-title">
         <h1>Portfolio</h1>
         <span>By  </span>
      </div>
     </div>
  </div>
</div>

<section class="single-portfolio-post page-section-pt">
  <div class="container-fluid">
     <div class="row">
      <div class="col-lg-6 col-md-6">
           <div class="owl-carousel-1">
              <div class="item">
                 <img src="<%=@portfolio.image%>" alt="">
              </div>
              <div class="item">
                 <img src="<%=@portfolio.image%>" alt="">
              </div>
              <div class="item">
                 <img src="<%=@portfolio.image%>" alt="">
              </div>
           </div>
      </div>
      <div class="col-lg-5 col-md-5 clearfix">
         <div class="port-title">
            <h2><%=@portfolio.title%></h2>
         </div>
          <div class="tags-2">
            <h5>Category: </h5>
            <ul>
              <li><a href="/categoryportfolios/<%=@portfolio.category.category_name%>"><%=@portfolio.category.category_name%></a></li>
            </ul>
          </div>
          <div class="port-meta clearfix">
            <ul>
              <li><b>Release:</b><span><%=@portfolio.finishe_on%> </span></li>
              <li><b>Client:</b><span><%=@portfolio.client%></span></li>
              <li><b>Live Demo: </b><span><%=@portfolio.live_demo%></span></li>
                <%@portfolio.skills.each do |skill|%>
                  <li><b>Skills: </b><span><%=skill.skill_name%></span></li>
                <%end%>
            </ul>
          </div>
          <div class="port-info">
              <p><%=@portfolio.description%></p>
           </div>
       </div>
    </div>
  <!--=================================-->

 <!--=================================-->
  </div>
</section>

<!--=================================
  single portfolio -->
<%=render "shared/front-component/footer"%>
