<div class="main-container">
  <div class="intro center">
    
      <%= form_tag demo_v1_sessions_path do %>
      <div class="center-greeting fadein">
        <h1>Hello! What is your name?</h1>
      </div>

      <div class="center-focus fadein delay-1s" style="margin-top: 25px;">
        <%= text_field_tag :login, params[:login], class: "name", placeholder: "Username" %>
      </div>
      <div class="center-focus fadein delay-1s" style="margin-top: 25px;">
        <%= password_field_tag :password, nil , class: "pass", placeholder: "Password" %>
      </div>
      <p><%= submit_tag "Log in", class: "btn" %></p>
    <% end %>
    <p>Don't have an account? <%= link_to "Sign Up", demo_v1_signup_path %>.</p>
  </div>
</div>
