<div class="contact-form">
  <div id="contact-wrapper">
   <div class="contact-content">
      <%=form_for contact, url: homes_path, remote: true do |f|%>
        <div class="contact-form">
          <h4>Drop me a comment</h4>
          <p>Use this form to tell me about your comment. I will be in touch within 24 hours.</p>
             <%=f.label "Full Name*", style: "color: white"%>
             <%=f.text_field :full_name%>
             <%=f.label "Email*", style: "color: white"%>
             <%=f.text_field :email%>
             <%=f.label "Phone*", style: "color: white"%>
             <%=f.text_field :phone%>
             <%=f.label "Comment*", style: "color: white"%>
             <%=f.text_area :comment, :class => "input-message", row: "7"%>
             <%=f.submit "Say Hello!", class: "panhara-button-small", id: "create-product"%>
        </div>
      <%end%>
  </div>
  <a href="#" class="contact-toggle"><span class="ti-comments"></span></a>
 </div>
</div>
