$("input#contact_full_name").val(" ");
$("input#contact_email").val(" ");
$("input#contact_phone").val(" ");
$("textarea#contact_comment").val(" ");
$("#contact-error").html(" ");
$("#contact-success").html("<%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
