
<!--=================================
  header -->
<%=render "shared/front-component/navigationbar"%>
<!--=================================
  header -->
<!--=================================
  intro -->
<%=render "shared/front-component/intro"%>
<!--=================================
  intro -->
<!--=================================
  about -->
  <%=render "shared/front-component/about"%>
<!--=================================
  about -->
<!--=================================
  services -->
<!--=================================
  services -->
<%=render "shared/front-component/service"%>
<!--=================================
  Resume -->
<%=render "shared/front-component/resume"%>
<!--=================================
  Resume -->
<!--=================================
  My Skill -->
<%=render "shared/front-component/skill"%>
<!--=================================
  My Skill -->
<!--=================================
 portfolio -->
<%=render "shared/front-component/portfolio"%>

<%=render "shared/front-component/state_area"%>
<!--=================================
 portfolio -->
<!--=================================
 calendar -->
<%=render "shared/front-component/calender"%>
<!--=================================
 calendar -->
<!--=================================
 blog -->
<%=render "shared/front-component/blog"%>
<!--=================================
 blog -->
<%=render "shared/front-component/testimonials"%>


<%=render "shared/front-component/footer"%>
<!--=================================
 calendar -->


<!--=================================
 contact -->


<!--=================================
 contact -->

<!--=================================
 color customizer -->

<!-- <div class="style-customizer closed">
  <div class="buy-button"> <a class="opener" href="#"><i class="fa fa-envelope"></i></a>  </div>
  <div class="clearfix content-chooser">
    <h3>Say Something Here</h3>
  </div>
</div> -->
<div id="contact-error"></div>
<div id="contact-success"></div>
<div id="contacts">
  <%= render partial: "contact_form", locals: {contact: @contact} %>
</div>
