<%=render "shared/header-report"%>
<div class="c-toolbar u-justify-center u-mb-small">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="row">
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">50</h4>
                <span class="c-toolbar__state-title">Registrated</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">54%</h4>
                <span class="c-toolbar__state-title">Course Rate</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">13%</h4>
                <span class="c-toolbar__state-title">Favorite</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">5</h4>
                <span class="c-toolbar__state-title">New Registration</span>
            </div>
        </div><!-- // .row -->
    </div><!-- // -->
</div><!-- // .c-toolbar -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <div class="c-card u-p-medium u-text-small u-mb-small">
        <h6 class="u-text-bold">General Info</h6>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Project Name</dt>
          <dd><%=@achivement.title%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Date</dt>
          <dd><%=@achivement.finishe_on%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Client</dt>
          <dd><%=@achivement.client%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Live Demo</dt>
          <dd><%=@achivement.live_demo%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Category</dt>
          <dd><%=@achivement.category.category_name%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Project Name</dt>
          <dd><%=image_tag(@achivement.image)%></dd>
        </dl>

        <dl class="u-flex u-pv-small u-border-bottom">
          <dt class="u-width-25">Description</dt>
          <dd><%=raw @achivement.description%></dd>
        </dl>

        <dl class="u-flex u-pv-small">
          <span style="margin-right: 10px;"><%=link_to "Edit", edit_admin_achivement_path(@achivement), :class=>"c-btn c-btn--success"%></span>
          <span><%=link_to "Cancel", admin_achivements_path,:class=>"c-btn c-btn--danger"%></span>
        </dl>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="c-card u-p-medium u-text-small u-mb-small">
        <h6 class="u-text-bold">Subject Info</h6>
              <dl class="u-flex u-pv-small">
                <dt class="u-width-25">Subject Name</dt>
                <dd class="u-width-75">
                  <%@achivement.skills.each do |skill|%>
                    <span class="c-badge c-badge--small c-badge--success">
                      <%=skill.skill_name%>
                    </span>
                  <%end%>
                  <br><br>
                </dd>
              </dl>
        </div>
      </div>
  </div>
</div>
