<div class="c-login">
  <header class="c-login__head">
      <!-- <a class="c-login__brand" href="#!">
          <img src="img/logo-login.svg" alt="Dashboard's Logo">
      </a> -->
      <h1 class="c-login__title">Welcome back! Please login.</h1>
  </header>
  <div class="c-login__content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="c-field u-mb-small">
      <%= f.label :email, :class=> "c-field__label", for: "input1" %><br />
      <%= f.email_field :email, autofocus: true, :class=>"c-input", :id=>"input1", :placeholder=>"example@gmail.com"%>
    </div>

    <div class="c-field u-mb-small">
      <%= f.label :password, :class=>"c-field__label", for: "input2" %><br />
      <%= f.password_field :password, autocomplete: "off", :class=>"c-input", :id=>"input2", :placeholder=>"Numbers. Letters...."  %>
    </div>
    <%= f.submit "Log in", :class=>"c-btn c-btn--info c-btn--fullwidth" %>

    <span class="c-divider has-text c-divider--small u-mv-medium">Login via social networks</span>

    <div class="c-login__social">
      <a class="c-login__social-icon u-bg-twitter" href="#!">
        <i class="fa fa-twitter"></i>
      </a>

      <a class="c-login__social-icon u-bg-facebook" href="#!">
        <i class="fa fa-facebook"></i>
      </a>

      <a class="c-login__social-icon u-bg-pinterest" href="#!">
        <i class="fa fa-pinterest"></i>
      </a>

      <a class="c-login__social-icon u-bg-dribbble" href="#!">
        <i class="fa fa-dribbble"></i>
      </a>
    </div>
    <%end%>
  </div>
  <footer class="c-login__footer">
      <a class="c-login__footer-link u-left" href="#!">Don’t have an account yet? Get Started</a>
      <a class="c-login__footer-link u-right" href="#!">Forgot Password?</a>
  </footer>
</div>
