<div class="main-container">
  <div class="intro center" style="top: 30%;">
    <div class="center-greeting fadein">
      <div class="greeting"></div>
      <h1>Hello! What is your name?</h1>
    </div>
    <%= form_for([:demo,:v1, @user]) do |f| %>
      <div class="center-focus fadein delay-1s" style="margin-top: 25px;">
        <%= f.text_field :username, class: "name", placeholder: "Username" %>
      </div>
      <div class="center-focus fadein delay-1s" style="margin-top: 25px;">
        <%= f.text_field :email, class: "name", placeholder: "Email" %>
      </div>
      <div class="center-focus fadein delay-1s" style="margin-top: 25px;">
        <%= f.password_field :password , class: "pass", placeholder: "Password" %>
      </div>
      <div class="center-focus fadein delay-1s" style="margin-top: 25px;">
        <%= f.password_field :password_confirmation, class: "pass", placeholder: "Confirmation Password" %>
      </div>
        <p><%= f.submit "Sign up", class: "btn" %></p>
    <% end %>
    <p>Already have an account? <%= link_to "Log in", demo_v1_login_path %>.</p>
  </div>
</div>
