<%=render "shared/left-side-bar"%>
<main class="o-page__content">
  <%=render "shared/header"%>
  <div class="c-toolbar u-justify-center u-mb-small">
      <div class="col-12 col-lg-10 col-xl-8">
          <div class="row">
              <div class="col-6 col-md-3 c-toolbar__state">
                  <h4 class="c-toolbar__state-number">50%</h4>
                  <span class="c-toolbar__state-title">Nothing</span>
              </div>
              <div class="col-6 col-md-3 c-toolbar__state">
                  <h4 class="c-toolbar__state-number">54%</h4>
                  <span class="c-toolbar__state-title">Availble Courses</span>
              </div>
              <div class="col-6 col-md-3 c-toolbar__state">
                  <h4 class="c-toolbar__state-number">13%</h4>
                  <span class="c-toolbar__state-title">Favorite</span>
              </div>
              <div class="col-6 col-md-3 c-toolbar__state">
                  <h4 class="c-toolbar__state-number">5%</h4>
                  <span class="c-toolbar__state-title">New Registration</span>
              </div>
          </div><!-- // .row -->
      </div><!-- // -->
  </div><!-- // .c-toolbar -->
  <div class="container">
    <br>
    <div class="row u-mb-large">
      <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="c-tabs">
          <ul class="c-tabs__list c-tabs__list--splitted nav nav-tabs" id="myTab" role="tablist">
            <li class="c-tabs__item"><a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Setting</a></li>
              <li class="c-tabs__item"><a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Socail</a></li>
          </ul>

          <div class="c-tabs__content tab-content" id="nav-tabContent">
            <%=simple_form_for([:admin, @setting]) do |f|%>
              <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">
                      <div class="col-lg-6">
                        <!-- Form Instructor Here -->
                        <%=f.label "site name", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :site_name, :class=>"c-input", id: "input1", :placeholder=>"Site Name"%>
                      </div>

                      <div class="col-lg-6">
                        <!-- Form Instructor Here -->
                        <%=f.label "Footer Title", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :footer_title, :class=>"c-input", id: "input1", :placeholder=>"Footer Title"%>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <!-- Form Instructor Here -->
                        <%=f.label "Location", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :location, :class=>"c-input", id: "input1", :placeholder=>"Location"%>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <!-- Form Instructor Here -->
                        <%=f.label "Email", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :email, :class=>"c-input", id: "input1", :placeholder=>"Email"%>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <!-- Form Instructor Here -->
                        <%=f.label "url", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :url, :class=>"c-input", id: "input1", :placeholder=>"URL"%>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <%= f.label :under_maintenace, :class=>"c-field__label", for: "input1"%>
                        <%= f.select :under_maintenace, [['under_maintenace', false], ['active', true]], {}, {:class=>"c-select"} %>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <%= f.label :prevent_commenting, :class=>"c-field__label", for: "input1"%>
                        <%= f.select :prevent_commenting, [['disable', false], ['active', true]], {}, {:class=>"c-select"} %>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <%= f.label :tag_visibility, :class=>"c-field__label", for: "input1"%>
                        <%= f.select :tag_visibility, [['active', true], ['disable', false]], {}, {:class=>"c-select"}%>
                      </div>
                  </div>
              </div>

                <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="row">
                    <%=f.simple_fields_for :socials do |socail|%>
                      <%= render 'social_fields', :f => socail%>
                      <div class="col-lg-4">
                        <br><br>
                        <%=link_to_add_association 'Add Social', f, :socials, :class=>"c-btn btn-info"%>
                      </div>
                    <%end%>
                  </div>
                </div>
                <div class="col-lg-12 panhara-wrapper"style="background: white;">
                  <%=f.submit "Save", :class=>"c-btn btn-info"%>
                </div>
              <%end%>
            </div>
          </div>
        </div><!-- // .col-12 -->
      </div>
    </div><!-- // .container -->

</main><!-- // .o-page__content -->
