<div class="nested-fields col-lg-7">
  <div class="form-inline">
    <br>
    <%=f.label "Social Media", :class=>"c-field__label", for: "input1"%>
    <%=f.text_field :social_media, :class=>"c-input", id: "input1", :placeholder=>"Social Media"%>
    <br>
    <%= link_to_remove_association f, data: {:confirm => 'do you really want to do this?'}, class: 'c-btn btn-info' do %>
      <div class="glyphicon glyphicon-remove"></div>Remove
    <% end %>
  </div>
</div>
