<%=render "shared/left-side-bar"%>
<main class="o-page__content">
  <%=render "shared/header"%>
    <div class="c-toolbar u-justify-center u-mb-small">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row">
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">50%</h4>
                    <span class="c-toolbar__state-title">Nothing</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">54%</h4>
                    <span class="c-toolbar__state-title">Availble Courses</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">13%</h4>
                    <span class="c-toolbar__state-title">Favorite</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">5%</h4>
                    <span class="c-toolbar__state-title">New Registration</span>
                </div>
            </div><!-- // .row -->
        </div><!-- // -->
    </div><!-- // .c-toolbar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
          <div class="c-card u-p-medium u-text-small u-mb-small">
            <%=simple_form_for([:admin, @category]) do |f|%>
              <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">

                      <div class="col-lg-6">
                        <!-- Form Instructor Here -->
                        <%=f.label "Category Name", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :category_name, :class=>"c-input", id: "input1", :placeholder=>"Category"%>
                      </div>

                  </div>
              </div>

                <div class="col-lg-12 panhara-wrapper"style="background: white;">
                  <%=f.submit :class=>"c-btn btn-info"%>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div><!-- // .container -->

</main><!-- // .o-page__content -->
