/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin/css
 *= require_self
 */
 /*
  *= require font-awesome
  */


  @import "toastr";
 .u-width-35{
   width: 35% !important;
 }
.c-sidebar__brand-img{
  height: 30px !important;
}

.c-toolbar__state-number{
  font-size: 18px !important;
}

.c-toolbar{
  box-shadow: 0px 0px 0px 0px !important;
}

.panhara-toolbar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 0px;
  background-color: #fff;
}

dd{
  padding-left: 50px !important;
}

.panhara-wrapper{
  background: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.c-tabs__pane{
  border: 1px solid #fff !important;
}

.status-active{
  background: #39b54a;
}

.status-inactive{
  background: #f95359;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 15px !important;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0px !important;
  padding-left: 15px !important;
  height: 33px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #b6b6b6;
}

.u-mb-medium {
    margin-bottom: 0px !important;
}
