<%=render "shared/left-side-bar"%>
<main class="o-page__content">
  <%=render "shared/header"%>
    <div class="c-toolbar u-justify-center u-mb-small">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row">
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">50%</h4>
                    <span class="c-toolbar__state-title">Nothing</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">54%</h4>
                    <span class="c-toolbar__state-title">Availble Courses</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">13%</h4>
                    <span class="c-toolbar__state-title">Favorite</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">5%</h4>
                    <span class="c-toolbar__state-title">New Registration</span>
                </div>
            </div><!-- // .row -->
        </div><!-- // -->
    </div><!-- // .c-toolbar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 ">
          <%=error_messages_for(@user)%>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
          <div class="c-card u-p-medium u-text-small u-mb-small">
            <%=form_for([:admin, @user]) do |f|%>
            <div class="row">
              <%if current_admin_user.admin?%>
                <div class="c-field col-xl-12">
                  <br>
                  <%=f.label "Role", :class=>"c-field__label", for: "input1"%>
                  <%=f.select :role,(User.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"c-select"}%>
                </div>
              <%end%>
              <div class="c-field col-xl-6">
                <br>
                <%=f.label "Username", :class=>"c-field__label", for: "input1"%>
                <%=f.text_field :username, :class=>"c-input", id: "input1", :placeholder=>"Username"%>
              </div>

              <div class="c-field col-xl-6">
                <br>
                <%=f.label "Email", :class=>"c-field__label", for: "input1"%>
                <%=f.text_field :email, :class=>"c-input", id: "input1", :placeholder=>"Email"%>
              </div>

              <div class="c-field col-xl-6">
                <br>
                <%=f.label "Password", :class=>"c-field__label", for: "input1"%>
                <%=f.password_field :password, :class=>"c-input", id: "input1", :placeholder=>"Password"%>
              </div>

              <div class="c-field col-xl-6">
                <br>
                <%=f.label "Confirmation Password", :class=>"c-field__label", for: "input1"%>
                <%=f.password_field :confirmation_password, :class=>"c-input", id: "input1", :placeholder=>"Confirmation Password"%>
              </div>


              <div class="c-field col-xl-6">
                <br>
                <%=f.label "Address", :class=>"c-field__label", for: "input1"%>
                <%=f.text_field :address, :class=>"c-input", id: "input1", :placeholder=>"Address"%>
              </div>

              <div class="c-field col-xl-6">
                <br>
                <%=f.label "Phone", :class=>"c-field__label", for: "input1"%>
                <%=f.text_field :phone, :class=>"c-input", id: "input1", :placeholder=>"Phone"%>
              </div>

              <div class="c-field col-xl-12">
                <br>
                <%=f.label "Description", :class=>"c-field__label", for: "input1"%>
                <%=f.text_area :description, :class=>"c-input", id: "input1", :placeholder=>"Description"%>
              </div>

              <div class="c-field col-xl-12">
                <br>
                <%=f.label "Image", :class=>"c-field__label", for: "input1"%>
                <%=f.file_field :image%>
              </div>

              <div class="c-field col-xl-12">
                <br>
                <%=f.submit :class=>"c-btn btn-info"%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div><!-- // .container -->

</main><!-- // .o-page__content -->
