<%=render "shared/left-side-bar"%>
<main class="o-page__content">
  <%=render "shared/header"%>
    <div class="c-toolbar u-justify-center u-mb-small">
        <div class="col-lg-10 col-xl-8">
            <div class="row">
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">50%</h4>
                    <span class="c-toolbar__state-title">Nothing</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">54%</h4>
                    <span class="c-toolbar__state-title">Availble Courses</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">13%</h4>
                    <span class="c-toolbar__state-title">Favorite</span>
                </div>
                <div class="col-6 col-md-3 c-toolbar__state">
                    <h4 class="c-toolbar__state-number">5%</h4>
                    <span class="c-toolbar__state-title">New Registration</span>
                </div>
            </div><!-- // .row -->
        </div><!-- // -->
    </div><!-- // .c-toolbar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
          <div class="c-card u-p-medium u-text-small u-mb-small">
            <%=simple_form_for([:admin, @blog]) do |f|%>
              <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">

                      <div class="col-xl-6">
                        <%=f.label "Select One", :class=>"c-field__label", for: "input1"%>
                        <%=f.collection_select :category_id, Category.all,:id,:category_name, {prompt: "SELECT Category ..."}, {:class=>"c-select has-search", :id=>"select2"}%>
                      </div>

                      <div class="col-lg-6">
                        <!-- Form Instructor Here -->
                        <br>
                        <%=f.label "Title", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :title, :class=>"c-input", id: "input1", :placeholder=>"Title"%>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <%=f.label "Post Date", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :post_date, :class=>"c-input", id: "input12", :placeholder=>"YY/DD/MM", data_toggle: "datepicker"%>
                      </div>

                      <div class="col-lg-6">
                        <!-- Form Instructor Here -->
                        <br>
                        <%=f.label "Author", :class=>"c-field__label", for: "input1"%>
                        <%=f.text_field :author, :class=>"c-input", id: "input1", :placeholder=>"Author"%>
                      </div>

                      <%if current_admin_user.admin?%>
                        <div class="col-lg-6">
                          <!-- Form Instructor Here -->
                          <br>
                          <%=f.label "Author", :class=>"c-field__label", for: "input1"%>
                          <%=f.select :status, [['Unapproved', false], ['Approved',true]], {},:class=>"c-input", id: "input1", :placeholder=>"Author"%>
                        </div>
                      <%end%>

                      <div class="col-lg-12">
                        <br>
                        <!-- Form Instructor Here -->
                        <%=f.input :description, :class=>"c-input", id: "input1", :placeholder=>"Description", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
                      </div>

                      <div class="col-lg-6">
                        <br>
                        <!-- Form Instructor Here -->
                        <%=f.label "Image", :class=>"c-field__label", for: "input1"%>
                        <%=f.file_field :image%>
                      </div>
                  </div>
              </div>

                <div class="col-lg-12 panhara-wrapper"style="background: white;">
                  <%=f.submit :class=>"c-btn btn-info"%>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div><!-- // .container -->

</main><!-- // .o-page__content -->
