<!DOCTYPE html>
<html>
  <head>
    <title>SchoolManagementSystem</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=custom_flash_message%>
  </body>
</html>
