<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%if yield(:title).present?%>
        <%= yield(:title)%>
      <%else%>
        <%= "Home | panhara.work"%>
      <%end%>
    </title>
    <%if yield(:meta_description).present?%>
      <meta name="description" content="<%= yield(:meta_description)%>">
    <%else%>
      <meta name="description" content="<%= "No description"%>">
    <%end%>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='/fonts.googleapis.com/cssd788.css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type="text/css" />
    <link href='/fonts.googleapis.com/css1413.css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700italic,900italic,900,800,700,800italic' rel='stylesheet' type="text/css" />
    <%= stylesheet_link_tag 'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "shared/front-component/loading"%>
    <%= yield %>
    <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
